snippet consoleGroup "console.group"
console.group('${1:label}');
${2:code}
console.groupEnd('$1');
endsnippet

snippet consoleGroupCollapsed "console.groupCollapsed"
console.groupCollapsed('${1:label}');
${2:code}
console.groupEnd('$1');
endsnippet
